

header{
    color: white; 
    background-color: lightgray;
    height: 90px;
    padding: 1rem;
    margin-bottom: 2rem;
}

body {
    margin:0; 
    width:800px;
    margin-left:auto;margin-right:auto;
    text-align:center
}

#board {
    border:5px solid darkgoldenrod; 
    margin:10px; 
    border-radius:20px;
}


.instructions{
        padding-top: 2rem;
        text-align: center;
}

.instructions h2{
    background-color: lightgray;
    padding-top: 10px;
    height: 60px;
    text-align: center;
}


footer{
    background-color: lightgray;
    height: 4rem; 
    color: white; 
    text-align: center;
    font-weight: bold;
    font-size: large;
   }
   
footer p {
    padding-top: 1rem;
   }
